{% extends "layout.html" %}
{% block content %}
<h1>Add Car</h1>
    <form method="post">
        <br>
        <input type="model" name="model"
               placeholder="model"
               ></input>
        <br>
        <br>
        <input type="German" name="German"
               placeholder="German Price"
               ></input>
        <br>
        <br>
        <input type="Netherlands" name="Netherlands"
               placeholder="Netherlands Price"
               ></input>
        <br>
        <br>
        <input type="UnitedKingdom" name="UnitedKingdom"
               placeholder="United Kingdom Price"
               ></input>
        <br>
        <br>
        <input type="Battery" name="Battery"
               placeholder="Battery"
               ></input>
        <br>
        <br>
        <input type="Acceleration" name="Acceleration"
               placeholder="Acceleration"
               ></input>
        <br>
        <br>
        <input type="TopSpeed" name="TopSpeed"
               placeholder="Top Speed"
               ></input>
        <br>
        <br>
        <input type="asd" name="Range"
               placeholder="Range"
               ></input>
        <br>
        <br>
        <input type="Efficiency" name="Efficiency"
               placeholder="Efficiency"
               ></input>
        <br>
        <br>
        <input type="FastCharge" name="FastCharge"
               placeholder="Fast Charge"
               ></input>
        <br>
        <br>
        <input type="Towing" name="Towing"
               placeholder="Towing"
               ></input>
        <br>
        <br>
        <input type="Seats" name="Seats"
               placeholder="Seats"
               ></input>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock content %}